<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="title" style="word-wrap: break-all">PAMC DW Portal</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="..." class="active nav-link" (mouseover)="this.provprof = false;"><span class="nav-text">Dashboard</span></a>
      <a href="#" class="active nav-link" (mouseover)="this.provprof = false;" [routerLink]="['/revenue-capture-data']" routerLinkActive="active"><span class="nav-text">Capture FactRevenue Data</span></a>
      <a href="#" class="active nav-link" (mouseover)="this.provprof = false;" [routerLink]="['/healthplan-capture-data']" routerLinkActive="active"><span class="nav-text">Capture DimHealthPlan Data</span></a>
      <!--<clr-dropdown [clrCloseMenuOnItemClick]="true" (mouseover)="this.provprof = true;">
        <a class="nav-link" clrDropdownToggle role="tooltip" aria-haspopup="true">
          <span class="nav-text">Provider Profiling &#11206;</span>
        </a>
        <div class="dropdown-menu" clrPosition="bottom-right" *clrIfOpen="provprof">
          
           
            <a [routerLink]="['/Provider-Profiling-Industry-Avg']" routerLinkActive="active" clrDropdownItem>
              Provider Profiling Industry Avg
            </a>
         
        
            <a [routerLink]="['/Provider-Profiling-Details']" routerLinkActive="active" clrDropdownItem>
              Provider Profiling Details
            </a>
         

        </div>

      </clr-dropdown>-->
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
