<div class="clr-row">
  <div class="clr-col-md-3">
  </div>
  <div class="clr-col-md-8">
    <div class="clr-row">
      <div class=" clr-col-md-8">
        <div class="card">
          <div class="card-header text-center">
            Capture Revenue Data
          </div>
          <div class="card-block">
            <div class="card-text text-center">
              <button type="button" class="btn btn-primary" (click)="OpenModel()">
                Capture new data
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-md-3">

  </div>
</div>

<clr-datagrid>
  <clr-dg-column>
    Invoice Date
    &nbsp;&nbsp;<a style="text-decoration:none" (click)="OpenDateFilter()">
      <clr-icon shape="filter-grid-circle"></clr-icon>

    </a>
    &nbsp;&nbsp;<a style="text-decoration:none" (click)="Sort()">
      <clr-icon shape="sort-by"></clr-icon>

    </a>
  </clr-dg-column>
  <clr-dg-column>Invoice Date SID</clr-dg-column>
  <clr-dg-column>
    Healthplan Option
    &nbsp;&nbsp;<a style="text-decoration:none" (click)="OpenHpOptFilter()"><clr-icon shape="filter-grid-circle"></clr-icon></a>
  </clr-dg-column>
  <clr-dg-column>
    Healthplan SID
  </clr-dg-column>
  <clr-dg-column>
    Beneficiary Count
    &nbsp;&nbsp;<a style="text-decoration:none" (click)="SortBenCount()"><clr-icon shape="sort-by"></clr-icon></a>
  </clr-dg-column>
  <clr-dg-column>
    Unit Price
    &nbsp;&nbsp;<a style="text-decoration:none" (click)="SortUnit()"><clr-icon shape="sort-by"></clr-icon></a>
  </clr-dg-column>
  <clr-dg-column>
    Revenue Incl Vat
    &nbsp;&nbsp;<a style="text-decoration:none" (click)="SortRevVat()"><clr-icon shape="sort-by"></clr-icon></a>
  </clr-dg-column>
  <clr-dg-column>Vat</clr-dg-column>
  <clr-dg-column>Revenue Excl Vat</clr-dg-column>
  <clr-dg-column>8110 Amount</clr-dg-column>
  <clr-dg-column>8109 Amount</clr-dg-column>
  <clr-dg-column>Adjusted Revenue Excl Vat</clr-dg-column>
  <clr-dg-column>Adjusted Revenue Incl Vat</clr-dg-column>

  <clr-dg-column>
    Type
    &nbsp;&nbsp;<a style="text-decoration:none" (click)="OpenTypeFilter()"><clr-icon shape="filter-grid-circle"></clr-icon></a>
  </clr-dg-column>
  <clr-dg-column>..</clr-dg-column>

  <clr-dg-row *ngFor="let data of this._appService.CaptureService._data">
    <clr-dg-cell>{{data.invoiceDate}}</clr-dg-cell>
    <clr-dg-cell>{{data.invoicesid}}</clr-dg-cell>
    <clr-dg-cell>{{data.hpname}}</clr-dg-cell>
    <clr-dg-cell>{{data.hpsid}}</clr-dg-cell>
    <clr-dg-cell>{{data.bencount}}</clr-dg-cell>
    <clr-dg-cell>{{data.unitprice}}</clr-dg-cell>
    <clr-dg-cell>{{data.incVat}}</clr-dg-cell>
    <clr-dg-cell>{{data.vat}}</clr-dg-cell>
    <clr-dg-cell>{{data.excVat}}</clr-dg-cell>
    <clr-dg-cell>{{data.amount8110}}</clr-dg-cell>
    <clr-dg-cell>{{data.amount8109}}</clr-dg-cell>
    <clr-dg-cell>{{data.adjAmountExecVat}}</clr-dg-cell>
    <clr-dg-cell>{{data.adjAmount}}</clr-dg-cell>
    <clr-dg-cell>{{data.type}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-primary">
        <button type="button" class="btn btn-icon btn-outline btn-sm" (click)="this.EditData(data)">
          <clr-icon shape="pencil"></clr-icon>
        </button>
        <button type="button" class="btn btn-icon btn-danger-outline btn-sm" (click)="this.DeleteSelected(data)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{this._appService.CaptureService._data.length}} Entries</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="this._appService.CaptureService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.CaptureService.revenueModal" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <div class="modal-body">
    <form clrForm [formGroup]="revenue">
      <div class="clr-row">
        <div class="clr-col-md-6">
          <clr-date-container>
            <label>Invoice Date</label>
            <input type="date" formControlName="date" clrDate (blur)="ValidateDate()">
            <clr-control-error>{{this._errDate}}</clr-control-error>
          </clr-date-container>
          <clr-input-container>
            <label>Beneficiary Count</label>
            <input clrInput type="number" formControlName="bencount" (blur)="ValidateBenCount()" />
            <clr-control-error>{{this._errBen}}</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Unit Price</label>
            <input clrInput type="number" formControlName="unit" (blur)="ValidateUnit()" />
            <clr-control-error>{{this._errUnit}}</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Revenue Incl Vat</label>
            <input clrInput type="number" formControlName="rev" (blur)="ValidateRev()" />
            <clr-control-error>{{this._errRev}}</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Vat</label>
            <input clrInput type="number" formControlName="vat" (blur)="ValidateVat()" />
            <clr-control-error>{{this._errVat}}</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>8110 Amount</label>
            <input clrInput type="number" formControlName="amount8110"  />
            <clr-control-error>{{this._err8110}}</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>8109 Amount</label>
            <input clrInput type="number" formControlName="amount8109" (blur)="ValidateVat8109()" />
            <clr-control-error>{{this._err8109}}</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Asjusted Revenue Excluding Vat</label>
            <input clrInput type="number" formControlName="adjRev"  />
            <clr-control-error>{{this._errVat}}</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-md-6">
          <clr-input-container [hidden]="true">
            <label>Invoice Date SID</label>
            <input clrInput formControlName="datesid" />
          </clr-input-container>
          <clr-select-container>
            <label>Healthplan</label>
            <select clrSelect formControlName="hpOptions" (change)="GetOpts()">
              <option *ngFor="let hp of this._appService.CaptureService._hp" [ngValue]="hp.hpname">{{hp.hpname}}</option>
            </select>
          </clr-select-container>
          <clr-select-container>
            <label>Options</label>
            <select clrSelect formControlName="opt">
              <option *ngFor="let op of this._appService.CaptureService._options" [ngValue]="op.sid">
                {{op.opt}} - {{op.risk}}
              </option>
            </select>
          </clr-select-container>
          <clr-select-container>
            <label>Options</label>
            <select clrSelect formControlName="type">
              <option *ngFor="let tp of this._appService.CaptureService._types" [ngValue]="tp.type">
                {{tp.type}}
              </option>
            </select>
          </clr-select-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="AddNewData()" *ngIf="!this.update" [disabled]="!this.revenue.valid">
      ADD
    </button>
    <button type="button" class="btn btn-primary" (click)="UpdateData()" *ngIf="this.update" [disabled]="!this.revenue.valid">
      UPDATE
    </button>
    <button type="button" class="btn btn-warning" (click)="CloseModel()">
      CANCEL
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.CaptureService._add" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">WARNING!!!</span>
        </div>
      </div>
    </div>
    <p>Are you sure you want to add the data to the database?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.CaptureService.AddNewData()">
      YES
    </button>
    <button type="button" class="btn btn-warning" (click)="this._appService.CaptureService._add = false">
      NO
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.CaptureService._update" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">WARNING!!!</span>
        </div>
      </div>
    </div>
    <p>Are you sure you want to permenantly change the data on the database?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.CaptureService.UpdateData()">
      YES
    </button>
    <button type="button" class="btn btn-warning" (click)="this._appService.CaptureService._update = false">
      NO
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.CaptureService._delete" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">WARNING!!!</span>
        </div>
      </div>
    </div>
    <p>Are you sure you want to permenantly delete the data from the database?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.CaptureService.DeleteData()">
      YES
    </button>
    <button type="button" class="btn btn-warning" (click)="this._appService.CaptureService._delete = false">
      NO
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.CaptureService._filterDate" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-md-3"></div>
      <div class="clr-col-md-8">
        <form clrForm [formGroup]="dateFilter">
          <clr-date-container>
            <label>Invoice Date</label>
            <input type="date" formControlName="datefil" clrDate (blur)="ValidateDate()">
          </clr-date-container>
        </form>
      </div>
      <div class="clr-col-md-1"></div>
    </div>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary btn-sm" (click)="this.ApplyDate()">
      Apply Filter
    </button>
    <button type="button" class="btn btn-warning btn-sm" (click)="this.RemoveFilter()">
      Remove All Filters
    </button>
    <button type="button" class="btn btn-outlined-warning btn-sm" (click)="this._appService.CaptureService._filterDate = false">
      Cancel
    </button>

  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.CaptureService._hpOpt" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-md-2"></div>
      <div class="clr-col-md-9">
        <form clrForm [formGroup]="hpFilter">
          <clr-select-container>
            <label>Healthplan</label>
            <select clrSelect formControlName="hp" (change)="GetOptsFilter()">
              <option *ngFor="let hp of this._appService.CaptureService._hp" [ngValue]="hp.hpname">{{hp.hpname}}</option>
            </select>
          </clr-select-container>
          <clr-select-container>
            <label>Options</label>
            <select clrSelect formControlName="options">
              <option *ngFor="let op of this._appService.CaptureService._options" [ngValue]="op.opt">
                {{op.opt}} - {{op.risk}}
              </option>
            </select>
          </clr-select-container>
        </form>
      </div>
      <div class="clr-col-md-1"></div>
    </div>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary btn-sm" (click)="this.ApplyHpOpt()">
      Apply Filter
    </button>
    <button type="button" class="btn btn-warning btn-sm" (click)="this.RemoveFilter()">
      Remove All Filters
    </button>
    <button type="button" class="btn btn-outlined-warning btn-sm" (click)="this._appService.CaptureService._hpOpt = false">
      Cancel
    </button>

  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.CaptureService._type" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-md-3"></div>
      <div class="clr-col-md-8">
        <form clrForm [formGroup]="type">
          <clr-select-container>
            <label>Options</label>
            <select clrSelect formControlName="type">
              <option *ngFor="let tp of this._appService.CaptureService._types" [ngValue]="tp.type">
                {{tp.type}}
              </option>
            </select>
          </clr-select-container>
        </form>
      </div>
      <div class="clr-col-md-1"></div>
    </div>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary btn-sm" (click)="this.ApplyType()">
      Apply Filter
    </button>
    <button type="button" class="btn btn-warning btn-sm" (click)="this.RemoveFilter()">
      Remove All Filters
    </button>
    <button type="button" class="btn btn-outlined-warning btn-sm" (click)="this._appService.CaptureService._type = false">
      Cancel
    </button>

  </div>
</clr-modal>
