<div class="clr-row">
  <div class="clr-col-md-3">
  </div>
  <div class="clr-col-md-8">
    <div class="clr-row">
      <div class=" clr-col-md-8">
        <div class="card">
          <div class="card-header text-center">
            Capture Healthplan Data
          </div>
          <div class="card-block">
            <div class="card-text text-center">
              <button type="button" class="btn btn-primary" (click)="OpenModelNew()">
                Capture new data
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-md-3">

  </div>
</div>
<br />
<br />
<clr-datagrid>
  <clr-dg-column>
    HPCODE
  </clr-dg-column>
  <clr-dg-column>
    HP Name
  </clr-dg-column>
  <clr-dg-column>
    Option
  </clr-dg-column>
  <clr-dg-column>
    Speciality Group
  </clr-dg-column>
  <clr-dg-column>
    Service Date From
  </clr-dg-column>
  <clr-dg-column>
    Service Date To
  </clr-dg-column>
  <clr-dg-column>Filter Exclude To Date</clr-dg-column>
  <clr-dg-column>Filter On HP</clr-dg-column>
  <clr-dg-column>Revenue Type HP</clr-dg-column>
  <clr-dg-column>Where Clause</clr-dg-column>
  <clr-dg-column>Is Risk</clr-dg-column>
  <clr-dg-column>Exist in fact claim</clr-dg-column>
  <clr-dg-column>..</clr-dg-column>

  <clr-dg-row *ngFor="let data of this._appService.CaptureService.dimHpData">
    <clr-dg-cell>{{data.hpcode}}</clr-dg-cell>
    <clr-dg-cell>{{data.hpname}}</clr-dg-cell>
    <clr-dg-cell>{{data.opt}}</clr-dg-cell>
    <clr-dg-cell>{{data.specialtyGrp}}</clr-dg-cell>
    <clr-dg-cell>{{data.svcDateFrom}}</clr-dg-cell>
    <clr-dg-cell>{{data.svcDateTo}}</clr-dg-cell>
    <clr-dg-cell>{{data.filterExcludeDt}}</clr-dg-cell>
    <clr-dg-cell>{{data.filterOnHp}}</clr-dg-cell>
    <clr-dg-cell>{{data.revenueTypeHp}}</clr-dg-cell>
    <clr-dg-cell>{{data.whereClause}}</clr-dg-cell>
    <clr-dg-cell>{{data.isRisk}}</clr-dg-cell>
    <clr-dg-cell>{{data.existFactClaim}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-primary">
        <button type="button" class="btn btn-icon btn-outline btn-sm" (click)="this.EditData(data)">
          <clr-icon shape="pencil"></clr-icon>
        </button>
        <button type="button" class="btn btn-icon btn-danger-outline btn-sm" (click)="this.ShowDeleteData(data)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{this._appService.CaptureService.dimHpData.length}} Entries</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="this._appService.CaptureService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.showEdit" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <div class="modal-body">
    <form clrForm [formGroup]="frmHpData">
      <div class="clr-row">
        <div class="clr-col-4">
          <label><b>HPCODE:</b> {{this.selectedItem.hpcode}}</label><br /><br />
          <label><b>HP Name:</b> {{this.selectedItem.hpname}}</label><br /><br />
          <label><b>Option:</b> {{this.selectedItem.opt}}</label>

        </div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>Speciality Group</label>
            <input clrInput formControlName="SpecialityGroup" />
          </clr-input-container>
          <clr-date-container>
            <label>Service Date From</label>
            <input type="date" clrDate formControlName="ServiceDateFrom">
          </clr-date-container>
          <clr-date-container>
            <label>Service Date To</label>
            <input type="date" clrDate formControlName="ServiceDateTo">
          </clr-date-container>
          <clr-date-container>
            <label>Filter Exclude To Date</label>
            <input type="date" clrDate formControlName="FilterExcludeToDate">
          </clr-date-container>
          <clr-select-container>
            <label>Filter On HP</label>
            <select clrSelect formControlName="FilterOnHP">
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          </clr-select-container>
          <clr-select-container>
            <label>Revenue Type HP</label>
            <select clrSelect formControlName="RevenueTypeHP">
              <option value="null"></option>
              <option value="All">All</option>
              <option value="Age">Age</option>
            </select>
          </clr-select-container>
          <clr-textarea-container>
            <label>Where Clause</label>
            <textarea clrTextarea formControlName="WHERECLAUSE" cols="100"></textarea>
          </clr-textarea-container>
          <clr-select-container>
            <label>is Risk</label>
            <select clrSelect formControlName="isRisk">
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          </clr-select-container>
          <clr-select-container>
            <label>Exist in Fact Claim</label>
            <select clrSelect formControlName="existFactClaim">
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          </clr-select-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="ShowUpdateWarning()" >
      UPDATE
    </button>
    <button type="button" class="btn btn-warning" (click)="CloseModel()">
      CANCEL
    </button>
  </div>
</clr-modal>

<!--<clr-modal [(clrModalOpen)]="this.showEdit" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <div class="modal-body">
    <form clrForm [formGroup]="frmHpData">
      <div class="clr-row">
        <div class="clr-col-4">
          <label><b>HPCODE:</b> {{this.selectedItem.hpcode}}</label><br /><br />
          <label><b>HP Name:</b> {{this.selectedItem.hpname}}</label><br /><br />
          <label><b>Option:</b> {{this.selectedItem.opt}}</label>

        </div>
        <div class="clr-col-8">
          <clr-input-container>
            <label>Speciality Group</label>
            <input clrInput formControlName="SpecialityGroup" />
          </clr-input-container>
          <clr-date-container>
            <label>Service Date From</label>
            <input type="date" clrDate formControlName="ServiceDateFrom">
          </clr-date-container>
          <clr-date-container>
            <label>Service Date To</label>
            <input type="date" clrDate formControlName="ServiceDateTo">
          </clr-date-container>
          <clr-date-container>
            <label>Filter Exclude To Date</label>
            <input type="date" clrDate formControlName="FilterExcludeToDate">
          </clr-date-container>
          <clr-select-container>
            <label>Filter On HP</label>
            <select clrSelect formControlName="FilterOnHP">
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          </clr-select-container>
          <clr-select-container>
            <label>Revenue Type HP</label>
            <select clrSelect formControlName="RevenueTypeHP">
              <option value="null"></option>
              <option value="All">All</option>
              <option value="Age">Age</option>
            </select>
          </clr-select-container>
          <clr-textarea-container>
            <label>Where Clause</label>
            <textarea clrTextarea formControlName="WHERECLAUSE" cols="100"></textarea>
          </clr-textarea-container>
          <clr-select-container>
            <label>is Risk</label>
            <select clrSelect formControlName="isRisk">
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          </clr-select-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.addNew = true;">
      UPDATE
    </button>
    <button type="button" class="btn btn-warning" (click)="CloseModelNew()">
      CANCEL
    </button>
  </div>
</clr-modal>-->

<clr-modal [(clrModalOpen)]="this.showNew" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <div class="modal-body">
    <form clrForm [formGroup]="frmHpDataNew">
      <div class="clr-row">
        <div class="clr-col-4">
          <clr-input-container>
            <label>HpCode</label>
            <input clrInput formControlName="HpCode" />
          </clr-input-container>
          <clr-input-container>
            <label>Hp Name</label>
            <input clrInput formControlName="HpName" />
          </clr-input-container>
          <clr-input-container>
            <label>LOB COde</label>
            <input clrInput formControlName="LobCode" />
          </clr-input-container>
          <clr-input-container>
            <label>Hp Long Desc</label>
            <input clrInput formControlName="HpLongDesc" />
          </clr-input-container>
          <clr-input-container>
            <label>Option</label>
            <input clrInput formControlName="Opt" />
          </clr-input-container>
          <clr-input-container>
            <label>Hp Type</label>
            <input clrInput formControlName="HpType" />
          </clr-input-container>
          <clr-input-container>
            <label>Claim Count</label>
            <input clrInput formControlName="claimcount" />
          </clr-input-container>
          <clr-select-container>
            <label>Exist in Fact Claim</label>
            <select clrSelect formControlName="existFactClaim">
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          </clr-select-container>
        </div>
        <div class="clr-col-8">

          <clr-input-container>
            <label>Speciality Group</label>
            <input clrInput formControlName="SpecialityGroup" />
          </clr-input-container>
          <clr-date-container>
            <label>Service Date From</label>
            <input type="date" clrDate formControlName="ServiceDateFrom">
          </clr-date-container>
          <clr-date-container>
            <label>Service Date To</label>
            <input type="date" clrDate formControlName="ServiceDateTo">
          </clr-date-container>
          <clr-date-container>
            <label>Filter Exclude To Date</label>
            <input type="date" clrDate formControlName="FilterExcludeToDate">
          </clr-date-container>
          <clr-select-container>
            <label>Filter On HP</label>
            <select clrSelect formControlName="FilterOnHP">
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          </clr-select-container>

          <clr-select-container>
            <label>Revenue Type HP</label>
            <select clrSelect formControlName="RevenueTypeHP">
              <option value="null"></option>
              <option value="All">All</option>
              <option value="Age">Age</option>
            </select>
          </clr-select-container>

          <clr-textarea-container>
            <label>Where Clause</label>
            <textarea clrTextarea formControlName="WHERECLAUSE" cols="100"></textarea>
          </clr-textarea-container>
          <clr-select-container>
            <label>is Risk</label>
            <select clrSelect formControlName="isRisk">
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          </clr-select-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ShowNewWarning()">
      ADD
    </button>
    <button type="button" class="btn btn-warning" (click)="CloseModelNEw()">
      CANCEL
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.updateWarning" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">WARNING!!!</span>
        </div>
      </div>
    </div>
    <p>Are you sure you want to permenantly change the data on the database?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.UpdateData()">
      YES
    </button>
    <button type="button" class="btn btn-warning" (click)="this.updateWarning = false">
      NO
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.addNew" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">WARNING!!!</span>
        </div>
      </div>
    </div>
    <p>Are you sure you want to add the data to the database?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.AddNewData()">
      YES
    </button>
    <button type="button" class="btn btn-warning" (click)="this.addNew = false">
      NO
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.showDelete" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">WARNING!!!</span>
        </div>
      </div>
    </div>
    <p>Are you sure you want to permenantly delete the data from the database?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="DeleteData()">
      YES
    </button>
    <button type="button" class="btn btn-warning" (click)="this.showDelete = false">
      NO
    </button>
  </div>
</clr-modal>
