<!--<div class="clr-row">
  <div class="clr-col-md-3">
  </div>
  <div class="clr-col-md-8">
    <div class="clr-row">
      <div class=" clr-col-md-8">
        <div class="card">
          <div class="card-header text-center">
            Capture Provider Profiling Industry avg
          </div>
          <div class="card-block">
            <div class="card-text text-center">
              <button type="button" class="btn btn-primary" (click)="OpenModelNew()">
                Capture new data
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-md-3">

  </div>
</div>
<br />
<br />

<clr-datagrid>
  <clr-dg-column>AVGDATE</clr-dg-column>
  <clr-dg-column>PROFILEDATE</clr-dg-column>
  <clr-dg-column>POS1BILLED</clr-dg-column>
  <clr-dg-column>POS2BILLED</clr-dg-column>
  <clr-dg-column>POS3BILLED</clr-dg-column>
  <clr-dg-column>POS4BILLED</clr-dg-column>
  <clr-dg-column>ANT1BILLED</clr-dg-column>
  <clr-dg-column>ANT2BILLED</clr-dg-column>
  <clr-dg-column>ANT3BILLED</clr-dg-column>
  <clr-dg-column>ANT4BILLED</clr-dg-column>
  <clr-dg-column>POSRESTBILLED</clr-dg-column>
  <clr-dg-column>ANTRESTBILLED</clr-dg-column>
  <clr-dg-column>RESTQTYPERMEMBER</clr-dg-column>
  <clr-dg-column>AUTHTOMEMBER</clr-dg-column>
  <clr-dg-column>CLAIMCOSTNET</clr-dg-column>
  <clr-dg-column>MEMBERCOST</clr-dg-column>
  <clr-dg-column>VISITRATE</clr-dg-column>
  <clr-dg-column>..</clr-dg-column>

  <clr-dg-row *ngFor="let data of this._appService.CaptureService.providerProfileAvg">
    <clr-dg-cell>{{data.avgDate}}</clr-dg-cell>
    <clr-dg-cell>{{data.profileDt}}</clr-dg-cell>
    <clr-dg-cell>{{data.pos1Billed}}</clr-dg-cell>
    <clr-dg-cell>{{data.pos2Billed}}</clr-dg-cell>
    <clr-dg-cell>{{data.pos3Billed}}</clr-dg-cell>
    <clr-dg-cell>{{data.pos4Billed}}</clr-dg-cell>
    <clr-dg-cell>{{data.ant1Billed}}</clr-dg-cell>
    <clr-dg-cell>{{data.ant2Billed}}</clr-dg-cell>
    <clr-dg-cell>{{data.ant3Billed}}</clr-dg-cell>
    <clr-dg-cell>{{data.ant4Billed}}</clr-dg-cell>
    <clr-dg-cell>{{data.posRestBilled}}</clr-dg-cell>
    <clr-dg-cell>{{data.antRestBilled}}</clr-dg-cell>
    <clr-dg-cell>{{data.restQtyPerMemb}}</clr-dg-cell>
    <clr-dg-cell>{{data.authToMemb}}</clr-dg-cell>
    <clr-dg-cell>{{data.claimCostNet}}</clr-dg-cell>
    <clr-dg-cell>{{data.memberCost}}</clr-dg-cell>
    <clr-dg-cell>{{data.visitrate}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-primary">
        <button type="button" class="btn btn-icon btn-outline btn-sm" (click)="this.EditData(data)">
          <clr-icon shape="pencil"></clr-icon>
        </button>
        <button type="button" class="btn btn-icon btn-danger-outline btn-sm" (click)="this.ShowDeleteData(data)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{this._appService.CaptureService.providerProfileAvg.length}} Entries</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="this.showNew" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <div class="modal-body">
    <form clrForm [formGroup]="frmProvProfAvgNew">
      <div class="clr-row">
        <div class="clr-col-md-6">
          <clr-input-container>
            <label>AVG DATE</label>
            <input clrInput formControlName="AvgDate" disabled />
          </clr-input-container>
          <clr-date-container>
            <label>Profile Date</label>
            <input type="date" formControlName="ProfileDt" clrDate (blur)="ValidateDate()" required>
            <clr-control-error>{{this._errDate}}</clr-control-error>
          </clr-date-container>
          <clr-input-container>
            <label>POS 1 Billed</label>
            <input type="number" clrInput formControlName="Pos1Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>POS 2 Billed</label>
            <input type="number" clrInput formControlName="Pos2Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>POS 3 Billed</label>
            <input type="number" clrInput formControlName="Pos3Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>POS 4 Billed</label>
            <input type="number" clrInput formControlName="Pos4Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>ANT 1 Billed</label>
            <input type="number" clrInput formControlName="Ant1Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>ANT 2 Billed</label>
            <input type="number" clrInput formControlName="Ant2Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>ANT 3 Billed</label>
            <input type="number" clrInput formControlName="Ant3Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>ANT 4 Billed</label>
            <input type="number" clrInput formControlName="Ant4Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>

        </div>
        <div class="clr-col-md-6">
          <clr-input-container>
            <label>POS Rest Billed</label>
            <input type="number" clrInput formControlName="PosRestBilled" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"   />
          </clr-input-container>
          <clr-input-container>
            <label>ANT Rest Billed</label>
            <input type="number" clrInput formControlName="AntRestBilled" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"   />
          </clr-input-container>
          <clr-input-container>
            <label>REST QTY Per Member</label>
            <input type="number" clrInput formControlName="RestQtyPerMemb"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  />
          </clr-input-container>
          <clr-input-container>
            <label>Auth To Member</label>
            <input type="number" clrInput formControlName="AuthToMemb"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  />
          </clr-input-container>
          <clr-input-container>
            <label>Claim Cost Net</label>
            <input type="number" clrInput formControlName="ClaimCostNet"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  />
          </clr-input-container>
          <clr-input-container>
            <label>Member Cost</label>
            <input type="number" clrInput formControlName="MemberCost"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  />
          </clr-input-container>
          <clr-input-container>
            <label>Visit Rate</label>
            <input type="number" clrInput formControlName="Visitrate"   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ShowNewWarning()">
      ADD
    </button>
    <button type="button" class="btn btn-warning" (click)="CloseModelNEw()">
      CANCEL
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.showEdit" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <div class="modal-body">
    <form clrForm [formGroup]="frmProvProfAvgEdit">
      <div class="clr-row">
        <div class="clr-col-md-6">
          <clr-input-container>
            <label>AVG DATE</label>
            <input clrInput formControlName="AvgDate" disabled />
          </clr-input-container>
          <clr-date-container>
            <label>Profile Date</label>
            <input type="date" formControlName="ProfileDt" clrDate (blur)="ValidateDate()" required>
            <clr-control-error>{{this._errDate}}</clr-control-error>
          </clr-date-container>
          <clr-input-container>
            <label>POS 1 Billed</label>
            <input type="number" clrInput formControlName="Pos1Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>POS 2 Billed</label>
            <input type="number" clrInput formControlName="Pos2Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>POS 3 Billed</label>
            <input type="number" clrInput formControlName="Pos3Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>POS 4 Billed</label>
            <input type="number" clrInput formControlName="Pos4Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>ANT 1 Billed</label>
            <input type="number" clrInput formControlName="Ant1Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>ANT 2 Billed</label>
            <input type="number" clrInput formControlName="Ant2Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>ANT 3 Billed</label>
            <input type="number" clrInput formControlName="Ant3Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>ANT 4 Billed</label>
            <input type="number" clrInput formControlName="Ant4Billed" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>

        </div>
        <div class="clr-col-md-6">
          <clr-input-container>
            <label>POS Rest Billed</label>
            <input type="number" clrInput formControlName="PosRestBilled" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  />
          </clr-input-container>
          <clr-input-container>
            <label>ANT Rest Billed</label>
            <input type="number" clrInput formControlName="AntRestBilled"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>REST QTY Per Member</label>
            <input type="number" clrInput formControlName="RestQtyPerMemb"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>Auth To Member</label>
            <input type="number" clrInput formControlName="AuthToMemb" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  />
          </clr-input-container>
          <clr-input-container>
            <label>Claim Cost Net</label>
            <input type="number" clrInput formControlName="ClaimCostNet"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
          <clr-input-container>
            <label>Member Cost</label>
            <input type="number" clrInput formControlName="MemberCost" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  />
          </clr-input-container>
          <clr-input-container>
            <label>Visit Rate</label>
            <input type="number" clrInput formControlName="Visitrate"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
          </clr-input-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ShowUpdateWarning()">
      UPDATE
    </button>
    <button type="button" class="btn btn-warning" (click)="CloseModel()">
      CANCEL
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.CaptureService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.addNew" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">WARNING!!!</span>
        </div>
      </div>
    </div>
    <p>Are you sure you want to add the data to the database?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.AddNewData()">
      YES
    </button>
    <button type="button" class="btn btn-warning" (click)="this.addNew = false">
      NO
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.updateWarning" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">WARNING!!!</span>
        </div>
      </div>
    </div>
    <p>Are you sure you want to permenantly change the data on the database?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.UpdateData()">
      YES
    </button>
    <button type="button" class="btn btn-warning" (click)="this.updateWarning = false">
      NO
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.showDelete" [clrModalClosable]="false" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">WARNING!!!</span>
        </div>
      </div>
    </div>
    <p>Are you sure you want to permenantly delete the data from the database?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="DeleteData()">
      YES
    </button>
    <button type="button" class="btn btn-warning" (click)="this.showDelete = false">
      NO
    </button>
  </div>
</clr-modal>-->
